
<mat-toolbar color="primary">
    <span>Happy BirthDay Neeraj</span>
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button>
  </mat-toolbar>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj1.jpeg" >
          <mat-card-content>
            <p>
             Hi, ham hai Neeraj Thakur.
             jara has to dijiye.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj2.jpeg">
          <mat-card-content>
            <p>
             ye hai padhaku neeraj ji.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          
          <img mat-card-image src="../assets/neeraj3.jpeg">
          <mat-card-content>
            <p>
              ham hai dan veer . blood donate kar rahe hai aap bhi kijiye.
              jara simile to dekho yis ki.kitne kusho ho.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj4.jpeg">
          <mat-card-content>
            <p>
              neeraj baba ki jai ho...
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj5.jpeg">
          <mat-card-content>
            <p>
             ye hai doosto ki gang.<br>
             #IIT BHU<br>
             #blood donation
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj6.jpeg">
          <mat-card-content>
            <p>
             ham gym bhi jate.to jara bach ke.
            </p>
          </mat-card-content>
         
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj7.jpeg">
          <mat-card-content>
            <p>
            Me hu Smart Boy.
            </p>
          </mat-card-content>
         
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj8.jpeg">
          <mat-card-content>
            <p>
            pehechana hame. nam to pata hoga.
            </p>
          </mat-card-content>
         
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj9.jpeg">
          <mat-card-content>
            <p>
            hello hello... kaun hai..
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/familiy1.jpeg">
          <mat-card-content>
            <p>
            ye hai hamara pehela pyaar.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/dosti.jpeg">
          <mat-card-content>
            <p>
           yisse kehete hai dosti yaar.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/music.jpeg">
          <mat-card-content>
            <p>
            aur yise music.bajana nahi aata bas try mar rahe hai.music pe.are bohot bhole hai ham.shakal se dikha hai na.
            aaye bade judge karne wale.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/bodygaurd.jpeg">
          <mat-card-content>
            <p>
           ham hai bodygaurd.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/chill.jpeg">
          <mat-card-content>
            <p>
           chill out guys
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/hostel.jpeg" class="shut">
          <mat-card-content>
            <p>
          missing this yaar
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/style.jpeg" class="shut">
          <mat-card-content>
            <p>
          aata hai kya rehene style me.sikh lo.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj10.jpeg" class="shut">
          <mat-card-content>
            <p>
          sharmate ,balkhate ye photo to majburi me liya gaya tha yaar.
          <br>
          kya kya harkate kar wati ho tum.
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
     
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj11.jpeg" class="shut">
          <mat-card-content>
            <p>
         he he .. jada dat na dikho 
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/tea.jpeg" class="shut">
          <mat-card-content>
            <p>
         ye tea party hai
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj12.jpeg" class="shut">
          <mat-card-content>
            <p>
        ye pyaari si saja
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/neeraj13.jpeg" class="shut">
          <mat-card-content>
            <p>
        ek to aacha photo kichlo meri maa..
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/doosti2.jpeg" class="shut">
          <mat-card-content>
            <p>
            ye hai doosti
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../assets/saath.jpeg" class="shut">
          <mat-card-content>
            <p>
         ye hai saath
            </p>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div class="body1">
<div class="card1 ">
    <div class="front1">
        <img src="../assets/fav.jpeg"  width="340px" height="480px" alt="">
    </div>
    <div class="back1">
        <div class="back-content1 middle1">
            <h2>.... MERE YAAR</h2>
            
        </div>
    </div>
</div>
</div>
    </div>
  </div>