<form [formGroup]="TimeTableForm">
<fieldset>
<table class="styled-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Time</th>
        <th>Task</th>
        <th>Status</th>
        <th></th>
    </tr>
</thead>
<tbody>
    
    <tr *ngFor="let todo of todos">
        <th>{{todo.id}}</th>
        <th>{{todo.time}}</th>
        <th>{{todo.task}}</th>
        <th>{{todo.status}}</th>
        <th>
            <button (click)="deleteTodo(todo.id)" (click)="DeleteTodoFront(todo)">delete</button>
        </th>
    </tr>
    <tr>
        <td><input type="text" class="form-control" formControlName="id" #newTodo0/></td>
        <td><input type="text" class="form-control" formControlName="time" #newTodo1/></td>
        <td><input type="text" class="form-control" formControlName="task" #newTodo2/></td>
        <td><input type="text" class="form-control" formControlName="status" #newTodo3/></td>
        <td><button (click)="insertData()" (click)="addTodo(newTodo0.value,newTodo1.value,newTodo2.value,newTodo3.value)" >Add</button></td>
    </tr>
    
</tbody>
</table>
</fieldset>
</form>
   

